<template>
  <MainContainer :content="aboutData"></MainContainer>
  <ImageContainer :background="aboutData.Background.url"></ImageContainer>
</template>

<script>
import ImageContainer from '@/components/ImageContainer.vue'
import MainContainer from '@/components/MainContainer.vue'
import { reactive, toRefs } from 'vue'
import { api } from '@/helper/helpers.js'

export default {
  name: 'About',

  components: {
    ImageContainer,
    MainContainer,
  },

  setup() {
    const state = reactive({
      aboutData: {
        id: null,
        Title: '',
        Description: '',
        created_at: '',
        updated_at: '',
        Background: {},
      },
    })

    const fetchAbout = async () => {
      const response = await fetch(`${api}/about`)
      const result = await response.json()
      state.aboutData = result
    }

    fetchAbout() // fetch about data

    return {
      ...toRefs(state),
    }
  },
}
</script>
