<template>
  <MainContainer :content="homeData"> </MainContainer>

  <ImageContainer :selfPortrait="homeData.Foreground.url"></ImageContainer>

  <Aside>
    <template v-slot:aside>
      <h2 v-html="homeData.Aside_title"></h2>
      <p v-html="homeData.Aside_description"></p>
    </template>
  </Aside>

  <SubContent></SubContent>
</template>

<script>
import Aside from '@/components/Aside.vue'
import ImageContainer from '@/components/ImageContainer.vue'
import MainContainer from '@/components/MainContainer.vue'
import SubContent from '@/components/SubContent.vue'
import { sleep, api } from '@/helper/helpers.js'
import { reactive, toRefs } from 'vue'

export default {
  name: 'Home',

  async beforeRouteLeave(to, from, next) {
    if (to.name == 'About') {
      this.$store.commit('REMOVE_ASIDE', true)
      document.querySelector('body').style.overflow = 'hidden'
      await sleep(400)
      next()
      return
    }

    next()
  },

  components: {
    Aside,
    ImageContainer,
    MainContainer,
    SubContent,
  },

  setup() {
    const state = reactive({
      homeData: {
        id: null,
        Title: '',
        Subtitle: '',
        Description: '',
        Aside_title: '',
        Aside_description: '',
        created_at: '',
        updated_at: '',
        Foreground: {},
      },
    })

    const fetchHome = async () => {
      const response = await fetch(`${api}/home`)
      const result = await response.json()
      state.homeData = result
    }

    fetchHome() // Fetch home data

    return {
      ...toRefs(state),
    }
  },
}
</script>
