<template>
  <MainContainer :content="activeCase"> </MainContainer>

  <ImageContainer
    :background="activeCase.Background.url"
    :viewImage="activeCase"
    :progress="progressBar"
    :newCase="newCase"
    v-on:transition-done="setCase(activeCaseIndex)"
  ></ImageContainer>

  <div class="cta left" @click="caseHandler('prev')">prev</div>
  <div class="cta right" @click="caseHandler('next')">next</div>
</template>

<script>
import ImageContainer from '@/components/ImageContainer.vue'
import MainContainer from '@/components/MainContainer.vue'
import { reactive, watchEffect, toRefs } from 'vue'
import { api } from '@/helper/helpers.js'

export default {
  name: 'Work',

  components: {
    ImageContainer,
    MainContainer,
  },

  props: {
    defaultCountDown: {
      type: Number,
      default: 15,
    },
  },

  setup(props) {
    let timer = null
    const state = reactive({
      activeCase: {
        id: null,
        Title: '',
        Description: '',
        Subtitle: '',
        Image_width: null,
        published_at: '',
        created_at: '',
        updated_at: '',
        Background: {},
        Foreground: {},
      },
      activeCaseIndex: 0,
      cases: [],
      countDown: 15,
      timer: null,
      progressBar: 100,
      newCase: false,
    })

    const fetchProjects = async () => {
      const response = await fetch(`${api}/projects`)
      const result = await response.json()
      state.cases = result
      state.activeCase = result[0]
    }

    const caseHandler = (direction) => {
      switch (direction) {
        case 'next':
          state.activeCaseIndex += 1
          break
        case 'prev':
          state.activeCaseIndex -= 1
          break
      }

      if (state.activeCaseIndex >= state.cases.length || state.activeCaseIndex <= 0) {
        state.activeCaseIndex = 0
      }

      initiateTransition()
    }

    const initiateTransition = () => {
      clearTimeout(timer)
      state.newCase = true
    }

    const setCase = (index) => {
      state.newCase = false
      state.activeCase = state.cases[index]
      state.countDown = props.defaultCountDown
      state.progressBar = 100
    }

    watchEffect(() => {
      if (state.countDown >= 0) {
        timer = setTimeout(() => {
          state.countDown--
          state.progressBar = (state.countDown * 100) / props.defaultCountDown
        }, 1000)
        return
      }

      caseHandler('next')
    })

    fetchProjects() // Call onload

    return {
      ...toRefs(state),
      fetchProjects,
      setCase,
      caseHandler,
    }
  },
}
</script>

<style lang="scss" scoped>
.cta {
  background: $color-white;
  width: 144px;
  height: 110px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  color: $color-black;
  font-family: $Merriweather-sans;
  font-size: rem(16px);
  font-weight: $extra-bold;
  text-transform: uppercase;
  cursor: pointer;
  justify-content: center;

  @include iphoneX {
    width: 80px;
    height: 50px;
    font-size: rem(14px);
  }

  &.right {
    background: $color-black;
    grid-area: e;
    position: absolute;
    right: 80px;
    bottom: 0;
    grid-row: 4 / 5;
    z-index: 1;
    color: $color-white;

    @include desktop-s {
      background: $color-white;
      color: $color-black;
      right: 0;
    }
  }

  &.left {
    grid-area: d;
    grid-row: 4 / 5;
    z-index: 1;
  }
}
</style>
