<template>
  <aside :class="aside ? 'disappear' : ''">
    <article>
      <slot name="aside"></slot>
    </article>
  </aside>
</template>

<script>
export default {
  name: 'Aside',

  computed: {
    aside() {
      return this.$store.getters.GET_ASIDE
    },
  },
}
</script>

<style lang="scss">
aside {
  background: $color-black;
  grid-area: d;
  grid-row: 3 / span 2;
  transform-origin: bottom center;
  transform: translateY(0) scaleX(1);

  &.disappear {
    @include asideDisappear;
    transform-origin: bottom center;
  }

  @include mobile-l {
    grid-area: d;
    grid-row: 3 / 4;
  }

  article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: $gutter + $spacer;
    padding: 0 $gutter;

    @include mobile-l {
      flex-direction: column;
      justify-content: flex-start;
      gap: 0;
      text-align: center;
    }

    h2 {
      max-width: 300px;
      width: 100%;
      font-family: $Merriweather-sans;
      font-size: rem(28px);
      font-weight: $extra-bold;
      color: $color-white;

      @include mobile-l {
        margin-bottom: 0;
      }
    }

    p {
      max-width: 500px;
      width: 100%;
      font-size: rem(14px);
      line-height: 1.6;
      color: $color-white;
    }
  }
}
</style>
