<template>
  <div class="image-content" :class="[$route.name == 'About' || $route.name == 'Work' ? 'work' : '']">
    <div class="bg-image" :style="background ? `background-image: url(${apiURI + background})` : ''"></div>
    <SocialBadge></SocialBadge>
    <img
      v-if="$route.name == 'Home'"
      :src="apiURI + selfPortrait"
      alt=""
      :style="`transform: translate(${imagePosition.x}px, ${imagePosition.y}px) !important`"
    />
    <img
      v-else-if="$route.name == 'Work' && viewImage.Foreground.url"
      :src="apiURI + viewImage.Foreground.url"
      :style="viewImage.Image_width ? `max-width:${viewImage.Image_width};` : 'max-width: auto; width: auto;'"
      class="workImage"
    />
    <div class="progress-bar">
      <div class="inner" :style="`width:${progress}%;`"></div>
    </div>
  </div>
</template>

<script>
import SocialBadge from '@/components/SocialBadge.vue'
import { sleep, api } from '@/helper/helpers.js'
import { reactive, watchEffect, onMounted, toRefs, computed } from 'vue'
import { useRouter } from 'vue-router'

export default {
  name: 'ImageContainer',

  components: {
    SocialBadge,
  },

  props: {
    selfPortrait: String,
    background: String,
    viewImage: Object,
    progress: {
      type: Number,
      default: 0,
    },
    newCase: {
      type: Boolean,
      default: false,
    },
  },

  setup(props, { emit }) {
    const router = useRouter()
    const state = reactive({
      parallaxPercentage: 40,
      mousePosition: {
        x: 0,
        y: 0,
      },
      imagePosition: {
        x: 0,
        y: 0,
      },
      watchElem: '',
    })

    const lerp = (position, targetPosition) => {
      return {
        x: position.x + (targetPosition.x - position.x) * 1,
        y: position.y + (targetPosition.y - position.y) * 1,
      }
    }

    const animatePortrait = () => {
      if (Math.abs(state.mousePosition.x - state.imagePosition.x) >= 0.5 || Math.abs(state.mousePosition.y - state.imagePosition.y) >= 0.5) {
        state.imagePosition = lerp(state.imagePosition, state.mousePosition)
      }
      requestAnimationFrame(animatePortrait)
    }

    const initiateTransition = async () => {
      console.log('Initiating transition...')
      document.querySelector('.workImage').classList.add('slideOutDown')
      document.querySelector('main').classList.add('fadeOutLeft')
      document.querySelector('.bg-image').classList.add('fadeOutBackground')
      document.querySelector('.bg-image').classList.remove('fadeInBackground')

      await removeTransitionClass()
      emit('transition-done')
    }

    const removeTransitionClass = async () => {
      await sleep(1200)
      document.querySelector('.workImage').classList.remove('slideOutDown')
      document.querySelector('main').classList.remove('fadeOutLeft')
      document.querySelector('.bg-image').classList.remove('fadeOutBackground')
      document.querySelector('.bg-image').classList.add('fadeInBackground')
    }

    watchEffect(() => {
      if (props.newCase) return initiateTransition()
    })

    onMounted(() => {
      router.name == 'Home' ? (state.watchElem = window) : (state.watchElem = document.querySelector('.image-content'))

      state.watchElem.addEventListener('mousemove', (e) => {
        state.mousePosition = {
          x: -e.clientX / state.parallaxPercentage,
          y: -e.clientY / state.parallaxPercentage,
        }
      })

      animatePortrait()
    })

    const apiURI = computed(() => api)

    return {
      ...toRefs(state),
      removeTransitionClass,
      initiateTransition,
      animatePortrait,
      lerp,
      apiURI,
    }
  },
}
</script>

<style lang="scss" scoped>
.image-content {
  background: rgb(255, 193, 216);
  background: linear-gradient(130deg, rgba(255, 193, 216, 1) 0%, rgba(244, 218, 210, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  grid-area: b;
  grid-row: 1 / span 3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include desktop-s {
    grid-row: 1 / span 2;
    height: 60vh;
  }

  &.about {
    background: url('../assets/images/about_temp.jpg') center center;
    background-size: cover;
  }

  &.work {
    background: transparent;
    grid-row: 1 / span 4;

    @include desktop-s {
      grid-row: 1 / span 2;
    }

    .bg-image {
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      &.fadeOutBackground {
        @include fadeOutBackground;
      }

      &.fadeInBackground {
        @include fadeInBackground;
      }
    }
  }

  img {
    max-width: 650px;
    width: 100%;
    opacity: 0;
    @include slideInUp;

    @include desktop-s {
      max-width: 80vw !important;
      max-height: 50vh;
    }

    &.workImage.slideOutDown {
      @include slideOutDown;
    }
  }

  .progress-bar {
    width: 100%;
    height: 4px;
    grid-area: e;
    grid-row: 3 / 4;
    position: absolute;
    bottom: 0;

    .inner {
      background: $color-gitlab;
      height: 4px;
      transition: width 1.5s;
    }
  }
}
</style>
