<template>
  <main :class="$route.name == 'Work' ? 'work-grid' : ''">
    <article>
      <span class="sub-title" v-if="content.Subtitle && $route.name == 'Home'">
        {{ content.Subtitle }}
      </span>

      <h1 v-if="content.h1">{{ content.h1 }}</h1>
      <h1 v-else-if="content.Title">{{ content.Title }}</h1>

      <span class="sub-title project" v-if="content.Subtitle && $route.name == 'Work'">
        {{ content.Subtitle }}
      </span>

      <p v-if="content.content" v-html="content.content"></p>
      <p v-else-if="content.Description" v-html="content.Description"></p>
    </article>
  </main>
</template>

<script>
export default {
  name: 'MainContainer',

  props: {
    content: Object,
  },
}
</script>

<style lang="scss">
main {
  background-color: $color-white;
  grid-area: c;
  padding: $gutter $spacer $gutter 0;
  display: flex;
  align-items: center;
  opacity: 0;
  @include fadeInLeft;

  @include mobile-l {
    padding: $spacer;
    grid-area: d;
    grid-row: 2 / 2;
  }

  .darkmode & {
    opacity: 0;
    background: $color-black;
    color: $color-white;
    @include fadeInLeft;
  }

  &.fadeOutLeft {
    @include fadeOutLeft;
  }

  &.work-grid {
    grid-row: 2 / 5;

    @include desktop-s {
      grid-row: 3 / 4;
    }
  }

  article {
    max-width: 550px;
    width: 100%;

    @include desktop-s {
      margin: 0 auto;
      text-align: center;
    }

    h1 {
      font-family: $Merriweather-sans;
      font-size: rem(48px);
      font-weight: $extra-bold;
      margin: 0 0 $spacer 0;
      padding-left: $spacer;

      @include mobile-l {
        font-size: rem(24px);
        padding-left: 0;
        margin: 0 0 5px 0;
      }
    }

    span.sub-title {
      font-size: rem(24px);
      margin-bottom: $spacer / 2;
      display: block;

      &.project {
        padding-left: $spacer;

        @include mobile-l {
          font-size: rem(18px);
          padding-left: 0;
        }
      }
    }

    p {
      max-width: 475px;
      width: 100%;
      font-size: rem($base-font-size);
      line-height: 1.6;
      padding-left: $spacer;

      @include desktop-s {
        max-width: 100%;
      }

      @include mobile-l {
        font-size: rem(14px);
        padding-left: 0;
      }
    }
  }
}
</style>
