<template>
  <header>
    <div class="logo-badge" :class="[darkMode ? 'inversed' : 'default']">
      <router-link to="/">
        <img :src="logo" :alt="alt" />
      </router-link>
    </div>

    <nav>
      <ul>
        <li v-for="item in menuItems" :key="item.Title">
          <router-link :to="item.Url" :class="item.Color ? `color-${item.Color}` : ''">{{ item.Title }}</router-link>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
import { reactive, toRefs } from 'vue'
import { api } from '@/helper/helpers.js'

export default {
  props: {
    logo: {
      type: String,
      default: require('../assets/images/logo.svg'),
    },
    alt: {
      type: String,
      default: 'Djilano Smit | Portfolio',
    },
  },

  setup() {
    const state = reactive({
      darkMode: false,
      menuItems: [{ id: null, Title: '', Url: '', Color: '' }],
    })

    const fetchMenuItems = async () => {
      const response = await fetch(`${api}/navigation`)
      const result = await response.json()
      state.menuItems = result.MenuItems
    }

    fetchMenuItems() // fetch menu items

    return {
      ...toRefs(state),
    }
  },
}
</script>

<style lang="scss" scoped>
header {
  width: 100%;
  grid-area: a;
  display: flex;
  justify-content: space-between;
  z-index: 1;

  @include desktop-s {
    justify-content: flex-start;
  }
}

.logo-badge {
  width: 80px;
  height: 114px;
  background: $color-black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;

  @include mobile-l {
    width: 50px;
    height: 70px;
    text-align: center;
  }

  img {
    max-width: 100%;
    transition: filter 0.2s;

    @include mobile-l {
      max-width: calc(100% - 10px);
    }
  }
}

nav {
  padding: $spacer / 2 $spacer 0 0;

  @include desktop-s {
    max-width: 250px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @include mobile-l {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: right;

    @include desktop-s {
      flex-direction: row;
      justify-content: space-between;
    }

    li {
      font-family: $Merriweather-sans;
      font-weight: $bold;
      font-size: rem($base-font-size);
      display: inline-block;

      a {
        color: $color-black;
        text-decoration: none;
        transition: color 0.2s;

        &:after {
          content: '';
          background: $color-black;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          display: inline-block;
          margin-left: 3px;
          transition: background 0.2s;
        }

        &.is-active:after {
          background: $color-pink;
        }

        &.color-orange {
          color: $color-gitlab;

          &:after {
            background: $color-gitlab;
          }
        }
      }
    }
  }
}
</style>
