<template>
  <div class="social-badge">
    <ul>
      <li v-for="website in socials" :key="website.Name">
        <a :href="website.Url" target="_blank"><img :src="apiURI + website.Image.url" :alt="website.Name"/></a>
      </li>
    </ul>
  </div>
</template>

<script>
import { reactive, toRefs, computed } from 'vue'
import { api } from '@/helper/helpers.js'

export default {
  name: 'SocialBadge',

  setup() {
    const state = reactive({
      socials: [
        {
          id: null,
          Url: '',
          Name: '',
          Image: {},
        },
      ],
    })

    const fetchSocials = async () => {
      const response = await fetch(`${api}/global-settings`)
      const result = await response.json()
      state.socials = result.SocialPlatform
    }

    fetchSocials() // fetch social settings

    const apiURI = computed(() => api)

    return {
      ...toRefs(state),
      apiURI,
    }
  },
}
</script>

<style lang="scss" scoped>
.social-badge {
  background: $color-white;
  width: 80px;
  height: 114px;
  position: absolute;
  top: 0;
  right: 80px;
  z-index: 1;

  @include desktop-s {
    right: 0;
  }

  @include mobile-l {
    display: none;
  }

  ul {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
}
</style>
