<template>
  <div class="sub-content"></div>
</template>

<script>
export default {
  name: 'SubContent'
}
</script>

<style lang="scss" scoped>
.sub-content {
  grid-area: e;
  grid-row: 4 / span 1;
}
</style>