<template>
  <Menu></Menu>
  <router-view></router-view>
</template>

<script>
import Menu from './components/Menu.vue'

export default {
  name: 'App',

  components: {
    Menu,
  },

  methods: {
    toggleDarkmode(bool) {
      let bodyEl = document.querySelector('body')

      switch (bool) {
        case true:
          bodyEl.classList.add('darkmode')
          break
        case false:
          bodyEl.classList.remove('darkmode')
          break
      }
    },

    toggleAboutGrid(bool) {
      let appEl = document.querySelector('#app')

      switch (bool) {
        case true:
          appEl.classList.add('about-grid')
          break
        case false:
          appEl.classList.remove('about-grid')
          break
      }
    },
  },

  computed: {
    darkMode() {
      return this.$store.getters.GET_DARKMODE
    },

    aboutGrid() {
      return this.$store.getters.GET_ABOUTGRID
    },
  },

  watch: {
    darkMode(bool) {
      this.toggleDarkmode(bool)
    },

    aboutGrid(bool) {
      this.toggleAboutGrid(bool)
    },
  },
}
</script>

<style lang="scss">
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $color-white;
  transition: background 0.2s;

  &.darkmode {
    background: $color-black;
    transition: background 0.2s;

    nav ul li a:not(.color-orange) {
      color: $color-white;
      transition: color 0.2s;

      @include desktop-s {
        color: $color-black;
      }

      &.is-active:after {
        background: $color-pink;
      }

      &:after {
        background: $color-white;
        transition: background 0.2s;

        @include desktop-s {
          background: $color-black;
        }
      }
    }

    .logo-badge {
      background-color: $color-white;
      transition: background 0.2s;

      img {
        filter: invert(4%) sepia(3%) saturate(4337%) hue-rotate(201deg) brightness(14%) contrast(83%);
        transition: filter 0.2s;
      }
    }
  }
}

#app {
  font-family: $Merriweather;
  font-size: rem(14px);
  color: $color-black;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: 80px repeat(11, 1fr);
  grid-template-areas:
    '. a a a a b b b b b b b'
    '. c c c c b b b b b b b'
    '. d d d d d d d e e e e';
  grid-template-rows: 114px auto repeat(2, 85px);

  @include desktop-s {
    min-height: 100vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 60vh repeat(3, 1fr);
    grid-template-areas:
      'a a a a a a'
      'b b b b b b'
      'c c c c c c'
      'd d d d d d';
  }

  &.about-grid {
    grid-template-rows: 114px auto;
  }
}
</style>
