/* Keyframe Animations */

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(50px);
  }
}

@keyframes mobileSlideInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes mobileSlideOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 0;
    transform: translateX(-10px);
  }
}

@keyframes asideDisappear {
  0% {
    transform: scaleX(1) translateY(0);
  }

  50% {
    transform: scaleX(1) translateY(50%);
  }

  75% {
    transform: scaleX(1.5) translateY(75%);
  }

  100% {
    transform: scaleX(10) translateY(100%);
  }
}

@keyframes fadeOutBackground {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeInBackground {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@mixin fadeOutBackground {
  animation: fadeOutBackground 0.5s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

@mixin fadeInBackground {
  animation: fadeInBackground 0.5s;
  animation-fill-mode: forwards;
}

@mixin asideDisappear {
  animation: asideDisappear 0.4s ease-in-out;
  animation-fill-mode: forwards;

  article {
    display: none;
  }
}

@mixin fadeInLeft {
  animation: fadeInLeft 0.5s ease-in;
  animation-delay: 0.2s; // To make up for the .2s white -> black transition
  animation-fill-mode: forwards;

  @include desktop-s {
    animation: slideInUp 0.5s ease-in;
    animation-fill-mode: forwards;
  }

  @include iphoneX {
    animation: mobileSlideInUp 0.5s ease-in;
    animation-fill-mode: forwards;
  }
}

@mixin fadeOutLeft {
  animation: fadeOutLeft 0.5s ease-in;
  animation-delay: 0.2s; // To make up for the .2s white -> black transition
  animation-fill-mode: backwards;

  @include desktop-s {
    animation: slideOutDown 0.5s ease-in;
  }

  @include iphoneX {
    animation: mobileSlideOutDown 0.5s ease-in;
  }
}

@mixin slideInUp {
  animation: slideInUp 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;

  @include desktop-s {
    animation: slideInUp 0.75s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }
}

@mixin slideOutDown {
  animation: slideOutDown 0.5s;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
}
