/* Media queries */

$desktop: 1920px;
$desktop-m: 1768px;
$desktop-s: 1440px;
$tablet-landscape: 1024px;
$tablet-portrait: 768px;
$mobile-l: 640px;
$mobile: 375px;

@mixin desktop {
  @media screen and (max-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop-m {
  @media screen and (max-width: #{$desktop-m}) {
    @content;
  }
}

@mixin desktop-s {
  @media screen and (max-width: #{$desktop-s}) {
    @content;
  }
}

@mixin tablet-landscape {
  @media screen and (max-width: #{$tablet-landscape}) {
    @content;
  }
}

@mixin tablet-portrait {
  @media screen and (max-width: #{$tablet-portrait}) {
    @content;
  }
}

@mixin mobile-l {
  @media screen and (max-width: #{$mobile-l}) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}

@mixin iphoneX {
  @media screen and (max-width: #{$mobile-l}) and (max-height: 1024px) {
    @content;
  }
}
