/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:wght@700;800&display=swap');

$Merriweather: 'Merriweather', serif;
$Merriweather-sans: 'Merriweather Sans', sans-serif;
$base-font-size: 16px;

$normal: 400;
$bold: 700;
$extra-bold: 800;

$color-black: #1d1d20;
$color-white: #f9f9f9;
$color-gitlab: #ed933f;
$color-pink: #ff8ab2;

/* Colors List */
$colors: ('black' $color-black, 'white' $color-white, 'gitlab' $color-gitlab, 'pink' $color-pink);

@each $name, $hex in $colors {
  .color-#{$name} {
    color: $hex;
  }
}

/* Gutters & Spacing */
$spacer: 20px;
$gutter: $spacer * 2;

/* Px To Rem */
@function rem($size) {
  @return $size / $base-font-size * 1rem;
}

@import './animations.scss';
@import './mediaqueries.scss';
